In [13]:
import pandas as pd
import sqlite3
import math 
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

from IPython.core.display import display, HTML

In [14]:
conn = sqlite3.connect('database.db')

In [15]:
c = conn.cursor()

## Desain Database
<img src="dw.png">

In [16]:
c.executescript('drop table if exists kontraktor')
c.executescript('drop table if exists produk')
c.executescript('drop table if exists time')
c.executescript('drop table if exists sales')
c.execute("CREATE TABLE IF NOT EXISTS 'kontraktor' ('kode_kontraktor' INT, 'nama_kontraktor' VARCHAR(255) NULL,'kontak_person' VARCHAR(255) NULL, PRIMARY KEY ('kode_kontraktor'))")
c.execute("CREATE TABLE IF NOT EXISTS 'produk' ('id_produk' INT, 'nama_produk' VARCHAR(255) NULL,'kategori_produk' VARCHAR(255) NULL, PRIMARY KEY ('id_produk'))")
c.execute("CREATE TABLE IF NOT EXISTS 'time' ('id_time' INT, 'bulan' INT, PRIMARY KEY ('id_time'))")
c.execute("CREATE TABLE IF NOT EXISTS 'sales' ( 'id_fact' INT, 'id_time' INT, 'kode_kontraktor' INT, 'id_produk' INT, 'jumlah_pesanan' INT, PRIMARY KEY ('id_fact'), FOREIGN KEY ('id_time') REFERENCES 'time' ('id_time') ON DELETE NO ACTION ON UPDATE NO ACTION, FOREIGN KEY ('kode_kontraktor') REFERENCES 'kontraktor' ('kode_kontraktor') ON DELETE NO ACTION ON UPDATE NO ACTION, FOREIGN KEY ('id_produk') REFERENCES 'produk' ('id_produk') ON DELETE NO ACTION ON UPDATE NO ACTION)")

OperationalError: database is locked

In [ ]:
df = pd.read_csv("data dw (1).csv")
df

In [ ]:
time = []
produk = []
kontraktor = []
sales = []
for i,j in df.iterrows():
    if j[0] not in time:
        time.append(j[0])
        
    t = -1
    for index, value in enumerate(time):
        if value == j[0]:
            t = index+1
            break
        
    if [j[1],j[3], t] not in produk:
        produk.append([j[1], j[3], t])
    
    if [j[2],j[5], t] not in kontraktor:
        kontraktor.append([j[2],j[5], t])


sales = []
for i,j in df.iterrows():   
    t = -1
    for index, value in enumerate(time):
        if value[0] == j[0]:
            t = index+1
            break
    
    k = -1
    for index, value in enumerate(kontraktor):
        if value[0] == j[2]:
            s = index+1
            break
        
    prod = -1
    for index, value in enumerate(produk):
        if value[0] == j[3]:
            prod = index+1
    
    sales.append([t, k, prod, j[4]])

In [ ]:
c.execute("DELETE FROM KONTRAKTOR")
for index, i in enumerate(kontraktor): 
    c.execute("INSERT INTO KONTRAKTOR VALUES(" + str(index+1) + ", '" + str(i[0]) + "', '" + str(i[1]) + "')")

c.execute("DELETE FROM PRODUK")
for index, i in enumerate(produk):
    c.execute("INSERT INTO PRODUK VALUES(" + str(index+1) + ", '" + str(i[0]) + "','" + str(i[1]) + "')")
    
c.execute("DELETE FROM TIME")
for index, i in enumerate(time): 
    c.execute("INSERT INTO TIME VALUES(" + str(index+1) + ", '" + str(i[0]) + "')")
    

c.execute("DELETE FROM SALES")
for index, i in enumerate(sales):
    c.execute("INSERT INTO SALES VALUES(" + str(index+1) + "," + str(id_time) + "," + str(kode_kontraktor) + "," + str(id_produk) + "," + str(i[3]) + ")")

    
conn.commit()

In [19]:
c.execute('''SELECT * FROM SALES''')

SALES = []
for row in c.fetchall():
    SALES.append(row)
SALES

c.execute('''SELECT * FROM PRODUK''')

SALES = []
for row in c.fetchall():
    SALES.append(row)
SALES

[]